{% extends "base.html" %}

{% block head %}
<!-- dependencies -->
<link rel="StyleSheet" href="/style/flat.viewer.css" type="text/css" />
<script type="text/javascript" src="/style/flat.viewer.js"></script> 
<link rel="stylesheet" href="/style/treeview.css" type="text/css" />
<script type="text/javascript" src="/style/svg-tree-drawer.js"></script> 
<script>
$(document).ready(function(){

    Object.keys(metadata).forEach(function(key){
        if (key == "ReligionParticipant") {
            $('#ReligionParticipant').text(key + " : " + metadata[key]);
        }
        else if (key == "ReligionOrganizer") {
            $('#ReligionOrganizer').text(key + " : " + metadata[key]);
        }
        else if (key == "ReligionTargeted") {
            $('#ReligionTargeted').text(key + " : " + metadata[key]);
        }
        else if (key == "Centrality") {
            $('#Centrality').text(key + " : " + metadata[key]);
        }
        else if (key == "CasteTargeted") {
            $('#CasteTargeted').text(key + " : " + metadata[key]);
        }
        else if (key == "CasteOrganizer") {
            $('#CasteOrganizer').text(key + " : " + metadata[key]);
        }
        else if (key == "CasteParticipant") {
            $('#CasteParticipant').text(key + " : " + metadata[key]);
        }
        else if (key == "Poor") {
            $('#Poor').text(key + " : " + metadata[key]);
        }
        else if (key == "LanguageParticipant") {
            $('#LanguageParticipant').text(key + " : " + metadata[key]);
        }
        else if (key == "LanguageOrganizer") {
            $('#LanguageOrganizer').text(key + " : " + metadata[key]);
        }
        else if (key == "LanguageTargeted") {
            $('#LanguageTargeted').text(key + " : " + metadata[key]);
        }
        else if (key == "IdeologyParticipant") {
            $('#IdeologyParticipant').text(key + " : " + metadata[key]);
        }
        else if (key == "IdeologyOrganizer") {
            $('#IdeologyOrganizer').text(key + " : " + metadata[key]);
        }
        else if (key == "IdeologyTargeted") {
            $('#IdeologyTargeted').text(key + " : " + metadata[key]);
        }
    });

    $("#protestsubmit").click(function(){
        var newvalue = $('#protestfield :selected').text();
        var newinput = "USE " + namespace + "/" + docid + " META Done" + "=" + newvalue;
        $('#queryinput').val(newinput);
        console_submit();
    });
    $("#religionsubmit").click(function(){

        var newvalue = "Religion" + $('#religiontype :selected').text();
        var newvalue2 = $('#religionfield :selected').text();
        osman_submit(newvalue, newvalue2);

        var newinput = "USE " + namespace + "/" + docid + " META Religion" + $('#religiontype :selected').text() + "=" + newvalue2;
        $('#queryinput').val(newinput);
        console_submit();

    });
    $("#sessubmit").click(function(){

        var newvalue = "Centrality";
        var newvalue2 = $('#sesfield :selected').text();
        osman_submit(newvalue, newvalue2);

        var newinput = "USE " + namespace + "/" + docid + " META Centrality=" + newvalue2;
        $('#queryinput').val(newinput);
        console_submit();

    });
    $("#castesubmit").click(function(){

        var newvalue = "Caste" + $('#castetype :selected').text();
        var newvalue2 = $('#castefield :selected').text();
        osman_submit(newvalue, newvalue2);

        var newinput = "USE " + namespace + "/" + docid + " META Caste" + $('#castetype :selected').text() + "=" + newvalue2;
        $('#queryinput').val(newinput);
        console_submit();

    });
    $("#poorsubmit").click(function(){

        var newvalue = "Poor";
        var newvalue2 = $('#poorfield :selected').text();
        osman_submit(newvalue, newvalue2);

        var newinput = "USE " + namespace + "/" + docid + " META Poor=" + newvalue2;
        $('#queryinput').val(newinput);
        console_submit();

    });
    $("#langsubmit").click(function(){

        var newvalue = "Language" + $('#langtype :selected').text();
        var newvalue2 = $('#langfield :selected').text();
        osman_submit(newvalue, newvalue2);

        var newinput = "USE " + namespace + "/" + docid + " META Language" + $('#langtype :selected').text() + "=" + newvalue2;
        $('#queryinput').val(newinput);
        console_submit();

    });
    $("#ideosubmit").click(function(){

        var newvalue = "Ideology" + $('#ideotype :selected').text();
        var newvalue2 = $('#ideofield :selected').text();
        osman_submit(newvalue, newvalue2);

        var newinput = "USE " + namespace + "/" + docid + " META Ideology" + $('#ideotype :selected').text() + "=" + newvalue2;
        $('#queryinput').val(newinput);
        console_submit();

    });
});
</script>
<style>
div#main {
    width: 60%;
    min-height: 480px;
    min-width: 480px;
    max-width: 900px;
    margin-bottom: 200px;
    margin-top: 20px;
    margin-left: 15%;
}
div#document {
    width: 100%;
}
div#implicit {
    width: 20%;
    min-height: 600px;
    margin-left: 80%;
    position: fixed;
}
div#protestselector {
    width: 60px;
    background: transparent;
    top: 2%;
    position: absolute;
}
div#protestbutton {
    position: absolute;
    top: 4%;
    margin-left: 18%;
}
div#religiontypeselector {
    width: 80px;
    background: transparent;
    top: 12%;
    position: absolute;
}
div#religionselector {
    width: 100px;
    background: transparent;
    margin-left: 34%;
    top: 12%;
    position: absolute;
}
div#religionbutton {
    position: absolute;
    margin-left: 70%;
    top: 14%;
}
div#relpart {
    position: absolute;
    top: 20%;
}
div#relorg {
    position: absolute;
    top: 23%;
}
div#reltarg {
    position: absolute;
    top: 26%;
}
div#sesselector {
    width: 100px;
    background: transparent;
    top: 30%;
    position: absolute;
}
div#sesbutton {
    position: absolute;
    margin-left: 24%;
    top: 32%;
}
div#centra {
    position: absolute;
    top: 38%;
}
div#castetypeselector {
    width: 80px;
    background: transparent;
    top: 44%;
    position: absolute;
}
div#casteselector {
    width: 100px;
    background: transparent;
    margin-left: 34%;
    top: 44%;
    position: absolute;
}
div#castebutton {
    position: absolute;
    margin-left: 64%;
    top: 46%;
}
div#castepart {
    position: absolute;
    top: 52%;
}
div#casteorg {
    position: absolute;
    top: 55%;
}
div#castetarg {
    position: absolute;
    top: 58%;
}
div#poorselector {
    width: 50px;
    background: transparent;
    top: 63%;
    position: absolute;
}
div#poorbutton {
    position: absolute;
    margin-left: 20%;
    top: 65%;
}
div#poor {
    position: absolute;
    top: 71%;
}
div#langtypeselector {
    width: 80px;
    background: transparent;
    top: 76%;
    position: absolute;
}
div#langselector {
    width: 100px;
    background: transparent;
    margin-left: 34%;
    top: 76%;
    position: absolute;
}
div#langbutton {
    position: absolute;
    margin-left: 70%;
    top: 78%;
}
div#langpart {
    position: absolute;
    top: 84%;
}
div#langorg {
    position: absolute;
    top: 87%;
}
div#langtarg {
    position: absolute;
    top: 90%;
}
div#ideotypeselector {
    width: 80px;
    background: transparent;
    top: 94%;
    position: absolute;
}
div#ideoselector {
    width: 100px;
    background: transparent;
    margin-left: 34%;
    top: 94%;
    position: absolute;
}
div#ideobutton {
    position: absolute;
    margin-left: 60%;
    top: 96%;
}
div#ideopart {
    position: absolute;
    top: 102%;
}
div#ideoorg {
    position: absolute;
    top: 105%;
}
div#ideotarg {
    position: absolute;
    top: 108%;
}
</style>
{% endblock %}

{% block js %}
initialcorrectionset = '{{ initialcorrectionset }}';
{% endblock %}

{% block menu %}
{% include "viewermenu.html" %}
<li>Editor Annotations
<ul id="annotationseditviewmenu">
</ul>
</li>
<li>Edit Forms
<ul id="editforms">
    {% if configuration.alloweditformdirect %}
    <li id="editformdirect"><a href="javascript:toggleeditform('direct')">Direct Edit (D)</a></li>
    {% endif %}
    {% if configuration.alloweditformcorrection %}
    <li id="editformcorrection"><a href="javascript:toggleeditform('correction')">Edit as correction (C)</a></li>
    {% endif %}
    {% if configuration.alloweditformalternative %}
    <li id="editformalternative"><a href="javascript:toggleeditform('alternative')">Edit as alternative (A)</a></li>
    {% endif %}
    {% if configuration.alloweditformnew %}
    <li id="editformnew"><a href="javascript:toggleeditform('new')">Add as new (N)</a></li>
    {% endif %}
</ul>
</li>
<li>Tools &amp; Options
<ul id="toolsandoptions">
    {% include "viewertoolsandoptions.html" %}
    {% if configuration.allowconfidence %}
    <li id="toggleeditconfidence"><a href="javascript:toggleeditconfidence()">Enable confidence editing elements</a></li>
    {% endif %}
    {% if configuration.allowdeclare %}
    <li><a href="javascript:declare()">Add new Annotation Type</a></li>
    {% endif %}
    <li><a href="javascript:showhistory()">History &amp; Undo</a></li>
    <li><a href="javascript:openconsole()">Query Console</a></li>
</ul>
</li>
{% endblock %}

{% block dialogs %}
<div id="leftpane">
    <div id="perspective"></div>
    <div id="selector"></div>
    <div id="textclassselector"></div>
    <div id="editformcorrectionsetselector">
    Correction set: <select id="editformcorrectionset"></select>
    </div>
    <div id="legend"></div>
</div>
<div id="info"></div>
<div id="editor">
    <div id="editorheader">
        <span>Annotation Editor</span>
        <button id="editordiscard">x</button>
    </div>
    <div class="body">
    </div>
    <div class="buttoncontainer">
        <span id="editoraddfields">New:
        <select id="editoraddablefields">
        </select>
        <button id="editoraddfield">+</button></span>
    </div>
    <div id="submitoptionscontainer">
        <input id="queuemode" type="checkbox" /> <label for="queuemode" title="Do not submit the annotation directly but queue it for later submission. The queue can always be accessed through the console window">Queue for later submission</label><br/>
        <input id="repeatmode" type="checkbox" /> <label for="repeatmode" title="This will pre-fill the edit dialog for the next clicked target, with the same annotations made for the current one.">Repeat this annotation for the next target</label><br/>
        <input id="openinconsole" type="checkbox" /> <label for="openinconsole" title="The console window shows queued queries and allows to edit and submit them">Open console window after submission</label><br/>
    </div>
    <div class="buttoncontainer">
        <button id="editorsubmit" title="Submit the annotation">Ok</button>
    </div>
</div>
<div id="newdeclaration" class="dialog">
    <div id="newdeclarationheader">
        <span>Declare New Annotation Type</span>
        <button id="newdeclarationdiscard">x</button>
    </div>
    <p>Here you can declare a new type of linguistic annotation, by choosing the type and pointing it to a valid FoLiA Set Definition that defines what classes (e.g. label/tag set) is to be used.</p>
    <label>Annotation Type:</label> <select id="newdeclarationannotationtype"></select><br />
    <label>Set Definition URL:</label> <input id="newdeclarationset" /> 
    <div class="buttoncontainer">
        <input id="newdeclarationsubmit" type="submit" value="Add declaration" class="button" />
    </div>
</div>
<div id="history" class="dialog">
    <div id="historyheader">
        <span>History</span>
        <button id="historydiscard">x</button>
    </div>
    <div id="historybody">
    </div>
</div>
<div id="console" class="dialog">
    <div id="consoleheader">
        <span>Query Console</span>
        <button id="consolediscard">x</button>
    </div>
    <div id="consolebody">
        Queries in FoLiA Query Language: <button onclick="$('#queryinput').val('');">Clear</button><br />
        <textarea id="queryinput"></textarea>

        <div class="buttoncontainer">
            <button id="consolesubmit">Ok</button>
        </div>
    </div>
</div>
{% include "search.html" %}
{% include "treeview.html" %}
<div id="implicit">
    <div id="protestselector">
        <span>Done : </span>
        <select id="protestfield" class="protestedit">
            <option value=""></option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    </div>
    <div class="buttoncontainer" id="protestbutton">
        <button id="protestsubmit">Ok</button>
    </div>
    <div id="religiontypeselector">
        <span>Focus : </span>
        <select id="religiontype">
            <option value=""></option>
            <option value="part">Participant</option>
            <option value="org">Organizer</option>
            <option value="target">Targeted</option>
        </select>
    </div>
    <div id="religionselector">
        <span>Religion : </span>
        <select id="religionfield">
            <option value=""></option>
            <option value="hindu">Hinduism</option>
            <option value="islam">Islam</option>
            <option value="chris">Christianity</option>
            <option value="sikh">Sikhism</option>
            <option value="bud">Buddhism</option>
            <option value="other">Other</option>
            <option value="notapp">N-A</option>
        </select>
    </div>
    <div class="buttoncontainer" id="religionbutton">
        <button id="religionsubmit">Ok</button>
    </div>
    <div id="relpart">
        <span id="ReligionParticipant" style="font-size: 8pt"></span>
    </div>
    <div id="relorg">
        <span id="ReligionOrganizer" style="font-size: 8pt"></span>
    </div>
    <div id="reltarg">
        <span id="ReligionTargeted" style="font-size: 8pt"></span>
    </div>
    <div id="sesselector">
        <span>Centrality : </span>
        <select id="sesfield">
            <option value=""></option>
            <option value="urban">Urban</option>
            <option value="rural">Rural</option>
            <option value="notapp">N-A</option>
        </select>
    </div>
    <div class="buttoncontainer" id="sesbutton">
        <button id="sessubmit">Ok</button>
    </div>
    <div id="centra">
        <span id="Centrality" style="font-size: 8pt"></span>
    </div>
    <div id="castetypeselector">
        <span>Focus : </span>
        <select id="castetype">
            <option value=""></option>
            <option value="cpart">Participant</option>
            <option value="corg">Organizer</option>
            <option value="ctarget">Targeted</option>
        </select>
    </div>
    <div id="casteselector">
        <span>Caste : </span>
        <select id="castefield">
            <option value=""></option>
            <option value="sc">SC</option>
            <option value="st">ST</option>
            <option value="obc">OBC</option>
            <option value="forward">Forward</option>
            <option value="brahmin">Brahmin</option>
            <option value="notapp">N-A</option>
        </select>
    </div>
    <div class="buttoncontainer" id="castebutton">
        <button id="castesubmit">Ok</button>
    </div>
    <div id="castepart">
        <span id="CasteParticipant" style="font-size: 8pt"></span>
    </div>
    <div id="casteorg">
        <span id="CasteOrganizer" style="font-size: 8pt"></span>
    </div>
    <div id="castetarg">
        <span id="CasteTargeted" style="font-size: 8pt"></span>
    </div>
    <div id="poorselector">
        <span>Poor : </span>
        <select id="poorfield">
            <option value=""></option>
            <option value="pyes">Yes</option>
            <option value="pno">No</option>
            <option value="notapp">N-A</option>
        </select>
    </div>
    <div class="buttoncontainer" id="poorbutton">
        <button id="poorsubmit">Ok</button>
    </div>
    <div id="poor">
        <span id="Poor" style="font-size: 8pt"></span>
    </div>
    <div id="langtypeselector">
        <span>Focus : </span>
        <select id="langtype">
            <option value=""></option>
            <option value="lpart">Participant</option>
            <option value="lorg">Organizer</option>
            <option value="ltarget">Targeted</option>
        </select>
    </div>
    <div id="langselector">
        <span>Language : </span>
        <select id="langfield">
            <option value=""></option>
            <option value="hindi">Hindi</option>
            <option value="eng">English</option>
            <option value="bengali">Bengali</option>
            <option value="telugu">Telugu</option>
            <option value="marathi">Marathi</option>
            <option value="tamil">Tamil</option>
            <option value="urdu">Urdu</option>
            <option value="kannada">Kannada</option>
            <option value="gujarati">Gujarati</option>
            <option value="odia">Odia</option>
            <option value="malayalam">Malayalam</option>
            <option value="sanskrit">Sanskrit</option>
            <option value="notapp">N-A</option>
        </select>
    </div>
    <div class="buttoncontainer" id="langbutton">
        <button id="langsubmit">Ok</button>
    </div>
    <div id="langpart">
        <span id="LanguageParticipant" style="font-size: 8pt"></span>
    </div>
    <div id="langorg">
        <span id="LanguageOrganizer" style="font-size: 8pt"></span>
    </div>
    <div id="langtarg">
        <span id="LanguageTargeted" style="font-size: 8pt"></span>
    </div>
    <div id="ideotypeselector">
        <span>Focus : </span>
        <select id="ideotype">
            <option value=""></option>
            <option value="ipart">Participant</option>
            <option value="iorg">Organizer</option>
            <option value="itarget">Targeted</option>
        </select>
    </div>
    <div id="ideoselector">
        <span>Ideology : </span>
        <select id="ideofield">
            <option value=""></option>
            <option value="malayalam">Bu mu</option>
            <option value="sanskrit">Bu mu</option>
            <option value="notapp">N-A</option>
        </select>
    </div>
    <div class="buttoncontainer" id="ideobutton">
        <button id="ideosubmit">Ok</button>
    </div>
    <div id="ideopart">
        <span id="IdeologyParticipant" style="font-size: 8pt"></span>
    </div>
    <div id="ideoorg">
        <span id="IdeologyOrganizer" style="font-size: 8pt"></span>
    </div>
    <div id="ideotarg">
        <span id="IdeologyTargeted" style="font-size: 8pt"></span>
    </div>
</div>
<div id="connectioninfo"></div>
<div id="queueinfo">
    <button id="submitqueue" title="Submit all queued annotations">Submit queue</button>
</div>
<div id="saveversion">
<label>Version label:</label> <input id="versionlabel" title="A label to quickly identify this version" /><button id="savebutton" title="Explicitly save the current state of the document, using the specified version label (if any), this enables you to go back to this version later. Note that explicit saving is not required, all changes will be retained automatically. Make sure to submit any queued actions prior to this.">Save</button>
</div>
<div id="notice">
</div>
{% endblock %}

{% block main %}
<div id="document">
</div>
{% endblock %}
